/* Colors */
/* 1. Color name 
   2. Hexidecimal
   3. RGB
*/
* {
    /* Reset */
    margin: 0;
    padding: 0;
}
body {
    background-color: #aff;
    color: #555;
    margin: 0; /* Remove margin for body, but heading has margin by default, so there is still margin on top
    /* Web Safe Font */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: normal;
    /* Font Shorthand (weight, size, family) same as above*/
    /* font: normal 18px Arial, Helvetica, sans-serif; */

    /* Space between the lines */
    /* em: 1em stands for 1 time current font size (Capital M) */
    line-height: 1.6em;
}

a {
    text-decoration: none;
    color: #000;
}

/* CSS pseudo-class is a keyword added to a selector that specifies a special "state" of the selected element(s).*/
/* :hover */
a:hover {
    color:red;
}

/* :active, clicked for a link case */
a:active {
    color:green;
}

.container {
    width: 80%; /* Usually use % for the width for responsive design */
    margin: auto; /* auto set left and right margin evenly, that push the div to the middle */
}

.button {
    background-color: #333;
    color: #fff;
    padding: 10px 15px;
    border: none;
}

.box-1 {
    background-color: #333;
    color: #fff;
    /* Box model:
        Padding: space between content and border
        Margin: space bwtween border and window edge
    */
    /* SHORTHAND: border: (width color style) */
    border-top: 5px red solid;
    border-right: 5px red solid;
    border-bottom: 5px red solid;
    border-left: 5px red solid;
    /* border: 5px red solid same as above */

    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    /* padding: 20px same as above*/

    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    /* margin: 20px same as above */
}

.box-1 h1 {
    /* Text Formating */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 800;
    font-style: italic;
    text-decoration: uppercase;
    letter-spacing: 0.2em;
    word-spacing: 1em;
}

.box-2 {
    border: 3px dotted #ccc;
    padding: 20px;
    margin: 20px 0;
}

.categories {
    border: 1px #ccc solid;
    padding: 10px;
    border-radius: 15px;
}

.categories h2 {
    text-align: center;
}

.categories ul {
    list-style: squre;
    list-style: none;
}

.my-form {
    padding: 20px;
}

.my-form .form-group {
    padding-bottom: 15px;
}

.my-form label {
    display: block;
}

.my-form input[type="text"], .my-form textarea {
    padding: 8px;
    width: 100%;
}

