/* Colors */
/* 1. Color name 
   2. Hexidecimal
   3. RGB
*/
* {
    /* Reset */
    margin: 0;
    padding: 0;
}
body {
    background-color: #aff;
    color: #555;
    margin: 0; /* Remove margin for body, but heading has margin by default, so there is still margin on top
    /* Web Safe Font */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: normal;
    /* Font Shorthand (weight, size, family) same as above*/
    /* font: normal 18px Arial, Helvetica, sans-serif; */

    /* Space between the lines */
    /* em: 1em stands for 1 time current font size (Capital M) */
    line-height: 1.6em;
}

.container {
    width: 80%; /* Usually use % for the width for responsive design */
    margin: auto; /* auto set left and right margin evenly, that push the div to the middle */
}

.box-1 {
    background-color: #333;
    color: #fff;
    /* Box model:
        Padding: space between content and border
        Margin: space bwtween border and window edge
    */
    /* SHORTHAND: border: (width color style) */
    border-top: 5px red solid;
    border-right: 5px red solid;
    border-bottom: 5px red solid;
    border-left: 5px red solid;
    /* border: 5px red solid same as above */

    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    /* padding: 20px same as above*/

    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    /* margin: 20px same as above */

}